/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(288, 100%, 50%);
  --first-color-alt: hsl(28, 84%, 58%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --text-color-light: hsl(0, 0%, 65%);
  --black-color: hsl(0, 0%, 6%);
  --body-color: hsl(0, 0%, 6%);
  --container-color: hsl(0, 0%, 10%);
  --shadow-img: 0 0 48px hsla(93, 54%, 54%, .4);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5rem;
    --bigger-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--bigger-font-size);
  
  margin-bottom: 1.5rem;
  text-align: center;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--first-color);
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  transition: color .4s;
}



.nav__toogle,
.nav__close{
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */

@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 6%, .2);
    backdrop-filter: blur(16px);
    width: 60%;
    height: 100%;
    padding: 6rem, 3rem, 0;
    transition: right .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
  padding-left: 3rem;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show-menu {
  right: 0;
}
/* Add blur header */

.blur-header::after {
 content: '';
 position: absolute;
 width: 1000%;
 height: 100%;
 background-color: hsla(0, 0%, 6%, .2);
 backdrop-filter: blur(16px);
 top: 0;
 left: 0;
 z-index: -1;
}

/* Active link */

.active-link {
  color: var(--first-color);
}

/*=============== HOME ===============*/

.home {
  position: relative;
  padding-top: 6.5rem;
}

.home__container{
  row-gap: 2rem;
}

.home__bg,
.home__shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home__bg{
  object-fit: cover;
  object-position: center;
}

.home__shadow{
  background: linear-gradient(180deg, 
                     hsla(0, 0%, 0%, 0) 0%,
                     hsl(0, 0%, 6%) 100%);
}

.home__data {
  position: relative;
  text-align: center;
}

.home__title {
  font-size: var(--bigger-font-size);
  font-family: var(--second-font);
  margin-bottom: 1.5rem;
}

.home__image {
  justify-content: center;
  max-width: 400px;
}

.home__img {
  rotate: 5deg;
}

.home__footer,
.home__social{
  display: flex;
}

.home__footer{
  justify-content: space-between;
  align-items: center;
}

.home__social{
  row-gap: 1rem;
  
}

.home__social a {
  color: var(--title-color);
  font-size: 1.5rem;
  transition: color .4s;
}

.home__social a:hover {
  color: var(--first-color);
}

.home__info{
  display: inline-flex;
  font-weight: var(--font-semi-bold);
  padding: 1.125rem, 2rem;
  color: var(--title-color);
}
/*=============== BUTTON ===============*/


/*=============== Technologies ===============*/

.new__container {
  padding-top: 1.5rem;
  row-gap: 3.5rem;
}

.new__content {
  row-gap: 2rem;
}

.new__card {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.new__img_2 {
  width: 150px;
}

.new__img_1 {
  width: 190px;
}

.new__img_3 {
  width: 300px;
}

.new__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: .5rem;
}

.new__description {
  font-size: var(--small-font-size);
}

.new__card:nth-child(2) img{
 order: -1;
}
/*=============== It ===============*/

.it__container {
  row-gap: 4rem;
}

.it__data {
  position: relative;
  text-align: center;
}

.it_description {
  margin-bottom: 3rem;
}

.it__img {
  width: 320px;
  justify-self: center;
}

.it__list {
  display: grid;
  row-gap: 1rem;
  padding-top: 4rem;

}

.it__item {
  display: flex;
  column-gap: .5rem;
  align-items: flex-start;
}

.it__item i {
  font-size: 1.5rem;
  color: var(--first-color);
}

/*=============== Networks ===============*/

.net__container {
 padding-top: 1.5rem;
 row-gap: 2rem;
}

.net__img {
  width: 350px;
  justify-self: center;
  filter: drop-shadow(var(--shadow-img));
  
}


.net__list {
  display: grid;
  row-gap: 1rem;
  padding-top: 2rem;
}

.net__item {
  display: flex;
  column-gap: .5rem;
  align-items: flex-start;
}

.net__item i {
  font-size: 1.5rem;
  color: var(--first-color);
}
/*=============== final ===============*/

.final__container {
  position: relative;
  padding-block:  3rem;
}

.final__bg,
.final__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.final__bg {
  object-fit: cover;
  object-position: center;
}

.final__shadow {
  background: linear-gradient(180deg, 
                   hsl(0, 0%, 6%) 0%,
                   hsla(0, 0%, 4%, .1) 50%,
                     hsl(0, 0%, 6%) 100%);
}

.final__data {
  text-align: center;
}
.final__description {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: 3rem;
}
/*=============== FOOTER ===============*/

.footer {
  padding-block: 3rem 2rem;

}


.footer__container {
  position: relative;
  row-gap: 4rem;
}

.footer__logo {
  display: inline-block;
  color: var(--first-color);
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
  transition: .4s;
}

.footer__content {
  grid-template-columns: repeat(2, max-content);
  gap: 4rem 2rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
}

.footer__list {
  display: grid;
  row-gap: .75rem;
}

.footer__info {
  font-style: normal;
}

.footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer__social a {
  color: var(--text-color);
  font-size: 1.5rem;
  transition: color .4s;
}

.footer__social a:hover {
  color: var(--first-color);
}

.footer__img {
  position: absolute;
  width: 80px;
  top: 2.5rem;
  right: 1.5rem;
}

.footer__copy {
  display: block;
  margin-top: 6rem;
  text-align: center;
  font-size: var(--small-font-size);
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  background-color: hsl(28, 12%, 15%);
}

::-webkit-scrollbar-thumb{
  background-color: hsl(28, 12%, 25%);
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(28, 12%, 35%);
}

/*=============== SCROLL UP ===============*/

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--container-color);
  color: var(--title-color);
  box-shadow: 0, 12px, 24px hsla(0, 0%, 0%, .3);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  z-index: var(--z-tooltip);
  transition: bottom .4s, tranfsorm .4s;
}


/* Show Scroll Up */

.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (max-width:340px){
  .container {
    margin-inline: 1rem;
  }

  .home__title {
    font-size: 2.5rem;
  }
 
  .home__footer {
    flex-direction: column;
    row-gap: 2rem;
  }

  .new__content {
    grid-template-columns: 200px;
    justify-content: center;
  }

  .new__card {
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
  }

  .new__card:nth-child(2) img {
    order: initial;
  }

  .footer__content {
    grid-template-columns: max-content;
  }

  .footer__img {
    right: .5rem;
  }

}



/* For medium devices */

@media screen and (max-width:576px){
 .nav__menu {
  width: 50%;
 }

 .home__container,
 .new__content,
 .it__container,
 .net__container,
 .final__content {
  grid-template-columns: 350px;
  justify-content: center;
 }

 .footer__content {
  grid-template-columns: repeat(3, max-content);
 }

 .footer__img {
  top: .5rem;
}
}

@media screen and (min-width:768px){
.home {
  padding-top: 3rem;
}

.home__container {
  grid-template-columns: repeat(2, 350px);
  align-items: center;
}
.home__data {
  text-align: initial;
}
.home__footer {
  grid-column: 1 / 3;
}


 .new__content,.final__content {
  grid-template-columns: 450px;
  justify-content: center;
 }

  .it__container {
    grid-template-columns: repeat(2, 350px);
    align-items: center;
  }

  .it__data {
    order: 1;
  }
  .it__data,
  .it__data .section__title {
    text-align: initial;
  }

  .footer__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
  .footer__img {
    top: 6rem;
  }
}

  /* For large devices */

 @media screen and (min-width:1150px){
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toogle,.nav__close {
   display: none;
  }

  .nav__menu {
    width: initial;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .home__container {
    grid-template-columns: 470px 550px;
    column-gap: 6rem;
  }

  .home__title {
    margin-bottom: 2rem;
  }

  .home__image {
    max-width: initial;
    width: 550px;
  }

  .new__container {
    padding-top: 4rem;
  }

  .new__content {
    grid-template-columns: repeat(3, 270px);
    column-gap: 5.5rem;
  }

  .new__card {
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
  }

  .new__title {
    font-size: var(--h1-font-size);
  }

  .new__description {
    font-size: var(--normal-font-size);
    padding-inline: 1rem;
   }

   .new__img_2 {
    width: 190px;
  }
  
  .new__img_1 {
    width: 300px;
  }
  
  .new__img_3 {
    width: 500px;
  }

  .it__container {
    grid-template-columns: repeat(2, 500px);
    column-gap: 3rem;
    justify-content: center;
  }


  .it__list {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .it__img {
    width: 1000px;
  }


  .net__container {
    grid-template-columns: repeat(2, 500px);
    align-items: center;
    justify-content: center;
  }

  .net__list {
    align-items: center;
  }

  .net_descriproin {
   font-size: var(--h3-font-size);
  }

  .final__container {
    padding-block: 4rem;
    grid-template-columns: 480px;
  }

  .footer {
    padding-block: 5rem, 3rem;
    grid-template-columns: repeat(4, max-content);
  }

  .footer__logo,
  .footer__title {
   margin-bottom: 1.5rem;
  }

  .footer__content {
    column-gap: 4.5rem;
  }

  .footer__social {
    column-gap: 1.5rem;
  }

  .footer__img {
    width: 90px;
    bottom: 1rem;
  }

  .footer__copy{
    margin-top: 8rem;
  }

  .scrollup {
    right: 3rem;
  }
}





